# Server Configuration
PORT=8080

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/ai-public-health-chatbot

# JWT Configuration
JWT_KEY=your-secret-key-here

# CORS Configuration
FRONTEND_URL=http://localhost:5173

# Email Configuration
MY_EMAIL=gyanshut007@gmail.com
MY_PASSWORD=ftud vjzk ipta rweu

# OpenAI Configuration
GEMINI_API_KEY=AIzaSyAQiDDiLaW4TdFWduslXV0amI6KUkug6RE
