@import "tailwindcss";
@import "prismjs/themes/prism-tomorrow.css";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#0B0C10] text-slate-200;
  }
}

@layer utilities {
  .glass-dark {
    @apply bg-black/40 backdrop-blur-xl border border-white/10 shadow-[0_8px_32px_0_rgba(0,0,0,0.37)];
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full;
  }
}

.reset-tw :not(pre):not(code){
  all : revert
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.4s;
}